@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~toastr/toastr.scss';
@import '~vue-loading-overlay/dist/vue-loading.min.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Montserrat|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Imprima');
/* General styles */

@font-face {
  font-family: 'Playlist';
  font-style: normal;
  font-weight: normal;
  src: url('~assets/fonts/Playlist/Playlist_Script.otf') format('opentype');
}

html {
  min-height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: #484848;
  margin: 0;
  background-color: #fff;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding-bottom: 8rem;
}

.nav {
  justify-content: center;
}

h1 {
  @include media-breakpoint-down(md) {
    font-size: 1.4rem;
  }
}
h4 {
  @include media-breakpoint-down(md) {
    font-size: 1rem;
  }
}
p {
  @include media-breakpoint-down(md) {
    font-size: 0.8rem;
  }
}

.nav-menu {
  width: 100%;
  justify-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #a0a0a0f0;
  /* border: 1px solid #ccc; */
  margin-top: 1rem;
  @include media-breakpoint-down(sm) {
    padding: 0.5rem !important;
    margin-top: 0rem;
  }
}

.navbar-collapse {
  justify-content: center;
}

.nav-link {
  display: inline-block;
  color: #fff !important;
  font-size: 1rem;
  font-family: 'Imprima', sans-serif;
  font-size: 1.3rem;
  @include media-breakpoint-down(md) {
    font-size: 1rem;
  }
}

.nav-item:not(:last-child):after {
  @include media-breakpoint-up(md) {
    content: '|';
  }
}

.cursiveFont {
  font-family: 'Playlist', cursive;
}

.bt-right {
  float: right;
  margin: 0.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: black !important;
}

.right {
  float: right;
}

button {
  cursor: pointer;
}

.container {
  @include media-breakpoint-up(lg) {
    .nav-link {
      font-size: 1.2rem;
    }
    p,
    li {
      font-size: 0.9rem;
    }
  }
  @include media-breakpoint-down(lg) {
    // width: 100%;
    // max-width: 100%;
    p,
    li {
      font-size: 0.8rem;
    }
  }
}

.top {
  margin-top: 2rem;
}

.slick-slide {
  margin-right: 1rem !important;
  // width: 100% !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  text-shadow: 1px 1px 10px black;
}
.slick-prev {
  left: 2px;
  z-index: 1000;
}
.slick-next {
  right: 14px;
}

.custom-control-input:checked ~ .custom-control-indicator {
  background-color: #6cc16c !important;
}

.custom-checkbox .custom-control-indicator {
  height: 2rem;
  width: 2rem;
  @include media-breakpoint-down(xs) {
    height: 1rem;
    width: 1rem;
  }
}

.carousel-item {
  img {
    @include media-breakpoint-down(xs) {
      height: 20rem !important;
    }
  }
}

.navbar-toggler-icon {
  width: 1rem;
  height: 1rem;
}

.modal {
  .btn {
    @include media-breakpoint-down(xs) {
      font-size: 0.7rem !important;
    }
  }
}

.main-title {
  padding: 0 0 1rem 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-bottom: 2rem;
  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}

textarea,
select,
input,
button {
  border-radius: 0 !important;
}
